<html>
  <head>
    <title>Sablière Clark / Accueil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>

  <body>
    <div class="wrap">
      <header class="header">
        <a class="logo" href="/">
          <img class="logo__image" src="/assets/images/logo.svg">
        </a>
        <nav class="nav">
          <ul class="nav__list">
            {% for item in site.navigation %}
              <li class="nav__item">
                <a class="nav__link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
            <li class="nav__item nav__item--button"><a class="nav__link" href="/contact">Nous joindre →</a></li>
          </ul>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
    </div>
    <footer class="footer wrap">
      <div class="footer__extra-wrap">
        <img class="footer__logo" src="/assets/images/logo.svg">
        <ul class="footer-list">
          <li class="footer-list__item">
            <img src="/assets/images/email-icon.svg" alt="">
            <a class="footer-list__link">sabliereclark@gmail.com</a>
          </li>
          <li class="footer-list__item">
            <img src="/assets/images/phone-icon.svg" alt="">
            <a class="footer-list__link">(514) 821-4242</a>
          </li>
          <li class="footer-list__item">
            <img src="/assets/images/map-icon.svg" alt="">
            <a class="footer-list__link">1483 Chemin Dufresne, Notre-Dame de la Merci</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>

</html>
