
// HEADER
// -----------------------------------------------------------------------------

.header {
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0,0,0,.15);

  @include media('desktop') {
    display: flex;
    align-items: center;
  }
}


// LOGO
// -----------------------------------------------------------------------------

.logo {
  display: block;
  padding: 25px;
}

.logo__image {
  transform: translateY(-6%); // Logo isn't centered inside the image
  margin: 0 auto;
  display: block;
}


// NAVIGATION
// -----------------------------------------------------------------------------

.nav {
  @include media('desktop') {
    flex-grow: 1;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include media('tablet-up') {
    flex-wrap: nowrap;
  }
}

.nav__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 50%;
  text-align: center;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #e5e5e5;
  line-height: 1.3;
}

.nav__link {
  padding: 25px 10px;
  width: 100%;
  box-sizing: border-box;

  .nav__item--active & {
    color: black;
    font-weight: 400;
  }
}

.nav__item--button {
  background: transparentize($accent-color, 0.05);
  box-shadow: none;

  .nav__link {
    color: white;
  }
}
