// LOGO
// -----------------------------------------------------------------------------

.logo {
  display: block;
  margin: 0 auto;
}

.logo-plate {
  flex-grow: 1;

  width: auto;
  padding: 25px 30px;

  background: white;

  @include media('desktop') {
    box-shadow: inset -1px 0 #d0d0d0;
  }
}


// HEADER
// -----------------------------------------------------------------------------

.header {
  position: absolute;
  z-index: 2;

  width: calc(100% - 40px);
  height: 100px;
  margin: 20px;

  display: flex;
  flex-wrap: wrap;

  @include media('desktop-wide') {
    margin: 60px;
    width: calc(100% - 120px);
  }
}

// NAVIGATION
// -----------------------------------------------------------------------------

.nav {
  flex-grow: 100;

  background: white;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  height: 100%;
  padding: 0;
  margin: 0;

  @include media('tablet-up') {
    flex-wrap: nowrap;
  }
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  padding: 25px 10px;
  width: 50%;

  text-align: center;
  background: white;
  box-sizing: border-box;
}

.button {
  background: $accent-color;

  a {
    color: white;
  }
}

.active {
  color: black;
  font-weight: 500;
}

.nav__item:nth-child(1) {
  border: 1px solid #d0d0d0;
  border-left: none;

  @include media('tablet-up') {
    border: none;
  }
}

.nav__item:nth-child(2) {
  border: 1px solid #d0d0d0;
  border-left: none;
  border-right: none;

  @include media('tablet-up') {
    border: none;
  }
}

.nav__item:nth-child(3) {
  border-right: 1px solid #d0d0d0;

  @include media('tablet-up') {
    border: none;
  }
}

.nav__item:nth-child(4) {
  @include media('tablet-up') {
      padding-right: 35px;
  }
}
