body {
  font-family: system-ui, sans-serif;
}

// LINKS
// -----------------------------------------------------------------------------

a {
  text-decoration: none;
  color: $accent-color;
  transition: .3s ease-in-out;
  z-index: 1;

  &:hover {
    color: darken($accent-color, 10%);
  }
}

// HEADINGS
// -----------------------------------------------------------------------------

h1 {
  font-family: 'Tungsten', sans-serif;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 26px;
  margin: 0 0 18px 0;
  font-weight: 500;
  color: black;
}

h3 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  color: #195ada;
}

h4 {
  margin: 0;
  color: #6d6d6d;
}

// TEXT
// -----------------------------------------------------------------------------

p {
  color: #5b5b5b;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;

  & + & {
    margin-top: 1.5em;
  }
}

// HIGHLIGHTS
// -----------------------------------------------------------------------------


.black-highlight {
  background: black;
  color: white;
  padding: 0 15px;
  padding-top: 5px;
  width: fit-content;
}

.blue-highlight {
  background: transparentize($accent-color, 0.05);
  color: white;
  padding: 0 15px;
  padding-top: 5px;
  width: fit-content;
  font-weight: 300;
  letter-spacing: 2px;
}

// BOLD
// -----------------------------------------------------------------------------

b {
  font-weight: 500;
  color: #000;
}
