:root {
  /* colors */
  --blue: #2663dd;
  --dark-blue: #1348ac;
  --gray: #ededed;
  --dark-gray: #5b5b5b;
  --black: black;

  /* spacing */
  --base: 60px;
}

@font-face {
  font-family: 'Tungsten';
  src: url('/fonts/Tungsten-Book.woff2') format('woff2'),
    url('/fonts/Tungsten-Book.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Tungsten';
  src: url('/fonts/Tungsten-Bold.woff2') format('woff2'),
    url('/fonts/Tungsten-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

@media (max-width: 600px) {
  :root {
    --base: 20px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--blue);
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 26px;
  margin: 0 0 18px 0;
  font-weight: 500;
  color: var(--black);
}

p {
  color: var(--dark-gray);
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
}
