
.wrap {
  position: relative;
  margin: 0 20px;

  @include media('desktop-wide') {
    margin: 0 60px;
  }
}


.banner {
  height: 680px;
  z-index: -1;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.content {
  z-index: 1;
  position: relative;
  overflow: hidden;
  background: white;

  @include media('tablet-up') {
    margin-top: -30px;
  }
}


// CONTENT LIST
// -----------------------------------------------------------------------------

.content__list {
  padding: 0;
  margin: -1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__list-item {
  list-style: none;
  padding: 30px 0;
  flex-grow: 1;
  border: 1px solid #ededed;
  border-top: none;
  border-left: none;
  box-sizing: border-box;
  width: 320px;

  @include media('tablet-up') {
    padding: 40px;
  }
}


// SPLIT
// -----------------------------------------------------------------------------

.split {
  display: flex;
  flex-wrap: wrap;
}

.split-item {
  padding: 20px 0;
  box-sizing: border-box;

  @include media('tablet-up') {
    width: 50%;
    padding: 40px;
  }
}


// ARROW LIST
// -----------------------------------------------------------------------------

.arrow-list {
  list-style-image: url('/assets/images/list-arrow.svg');
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
  grid-column-gap: 40px;
  margin: 20px 0 0 0;
}

.arrow-list__item {
  color: #2362dc;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 8px;
}

.inline {
  display: flex;
  padding-top: 10px;
  a {
    padding-left: 5px;
  }
}

.split__content {
  padding: 40px;
  flex-grow: 1;

  @include media('desktop') {
    width: 460px;
    flex-grow: 0;
  }
}

.button {
  background: $accent-color;
  color: white;
  font-weight: 500;
  padding: 20px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;

  &:hover {
    color: white;
  }
}


.title {
  position: absolute;
  bottom: 48px;
  left: 20px;

  h1 {
    margin-top: 5px;
  }

  @include media('desktop') {
    h1 {
      font-size: 84px;
    }
  }

  @include media('desktop-wide') {
    left: 60px;
    bottom: 65px;
  }

}
