.compagnie-banner {
  background: url('/assets/images/marcel.jpg');
  background-size: cover;
  background-position: 50%;
}

.compagnie__left-split-text {
  font-size: 22px;
  color: black;
}

.compagnie__right-split-text {
  padding-bottom: 30px;
}
