/* RESET */
/* ***************************************** */

  /* blue-logo #195ad9 */



a {
  /*color: #185adb;*/
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.page {
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
}

.left-align {
  text-align:left;
}

.left-align:first-letter {
  margin-left: 3vw;
}

/* NAV */
/* ***************************************** */

.nav {
  padding: 10px 0;
  padding-bottom: 14px;
  background: linear-gradient(to bottom, rgba(4, 4, 4, 0.25), rgba(255, 255, 0, 0));
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 950px) {
  .nav ul {
    display: none;
  }
  .left-nav {
    margin-left: 46% !important;
    transform: translateX(-50%);
  }
  .nav {
    justify-content: flex-start;
  }
  .hamb {
    display: block !important;
  }
}

.left-nav {
  margin-left: 50px;
}

.left-nav img {
  height: 35px;
}

.right-nav {
  margin-right: 50px;
}

.right-nav li a {
  text-decoration: none;
  position: relative;
  color: white;
  transition: 0.25s ease-in-out;
  font-size: 1vw;
}

.nav ul li {
  float: left;
  margin: 0 20px;
}

.nav ul li a {
  text-transform: lowercase;
  font-size: 0.85em;
  letter-spacing: 2px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

.nav-cta {
  font-size: 0.7em !important;
  padding: 18px 20px;
  background: linear-gradient(to bottom right, #115ff3, #0b285f);
  text-transform: uppercase !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
  transition: ease 0.7s !important;
}

.nav-cta:hover #cta-icon {
  opacity: 1;
  transition: ease 0.7s;
  transform: translateX(0);
}

.nav-cta:hover {
  padding-right: 50px;
  transition: ease 5s;
}

#cta-icon {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 2em;
  opacity: 0;
  transform: translateX(20px);
  transition: ease 0.7s;
}

.animate-button {
  background: linear-gradient(235deg, #113b8c, #185adb, #113b8c);
    background-size: 400% 400%;
    -webkit-animation: button-animation 3s ease infinite;
    -moz-animation: button-animation 3s ease infinite;
    animation: button-animation 3s ease infinite;
}

@-webkit-keyframes button-animation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

@-moz-keyframes button-animation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

@keyframes button-animation {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

.line {
  position: absolute;
  left: -5%;
  bottom: -2px;
  display: inline-block;
  height: 61%;
  width: 110%;
  vertical-align: middle;
  overflow: hidden;
}

.line:before {
  opacity: 0;
  transform: translateX(-105%);
  position: absolute;
  left: -5%;
  top: 2px;
  content: '';
  display: inline-block;
  height: 100%;
  width: 110% ;
  background: rgb(25, 90, 217);
  vertical-align: middle;
  z-index: -1;
}

.line:after {
  opacity: 1;
  transform: translateX(105%);
  position: absolute;
  left: -5%;
  top: 2px;
  content: '';
  display: inline-block;
  height: 100%;
  width: 110%;
  background: rgb(25, 90, 217);
  vertical-align: middle;
  transition: transform ease-in-out 0.6s;
  z-index: -1;
}

.line-through a:hover .line:before {
  opacity: 1;
  transform: translateX(0px);
  transition: transform .6s cubic-bezier(1, 0, 1, 0.29),-webkit-transform .6s cubic-bezier(.165,.84,.44,1);
}

.line-through a:hover .line:after {
  transform: translateX(0px);
  opacity: 0;
  transition: transform .8s cubic-bezier(.165,.84,.44,1),-webkit-transform .8s cubic-bezier(.165,.84,.44,1);
}

/* HAMB */

.hamb {
  margin-left: 6.25%;
  transform: translateX(-50%);
  height: 1px;
  width: 16px;
  background: white;
  transition: ease-in-out 0.5s;
  display: none;
}

.hamb:before {
  transform: translateY(-6px);
  content: '';
  display: block;
  height: 1px;
  width: 16px;
  background: white;
  transition: ease-in-out 0.5s;
}

.hamb:after {
  transform: translateY(5px);
  content: '';
  display: block;
  height: 1px;
  width: 16px;
  background: white;
  transition: ease-in-out 0.5s;
}
