/* section-1 */
/* ***************************************** */

.section-1 .cta-section {
  background: rgb(137, 126, 110);
}

.section-1 .filler {
  width: 25%;
  background: rgb(25, 90, 218);
  display: flex;
  justify-content: center;
}

.section-1 .filler h1 {
  text-align: center;
  color: rgb(17, 69, 171);
  text-orientation: sideways;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 100%;
  margin: 0;
  margin-left: -17%;
  font-size: 9vw;
}

/* split-2 */
/* ***************************************** */

.split-2 {
  overflow: hidden;
}

.split-2 img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 55%;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  margin-left: 12.5%;
}

.split-2 .cta-section {
  padding: 0 15px;
  flex-grow: 1;
  width: 60%;
  z-index: 1;
}

.split-2 .filler {
  width: 12.5%;
  position: fixed;
}
